@layer base {
  body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-stack !important;
  line-height: 1.5;
  color: $text-color !important;
  background-color: $background-color !important;
  }

/* Habilitar contenedores principales */
.container, .grid-container {
  container-type: inline-size; 
  container-name: main-container; 
}
}  