@layer pages {
  .formulario {
    max-width: 600px;
    padding: 2em;
    margin: 4vw auto;
    background-color: color(display-p3 0.47 0.62 0.74);
    border-radius: 1vh;
    box-shadow: 0 .1vh .5vh hsla(120, 7%, 97%, 0.966);

    &__title {
      margin-bottom: 1.5vh;
    }

    &__form {
      margin: 6vh 0;

    }
  }
}
