@layer pages {
  .formulario {
    padding: 2dv;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: color(display-p3 0.9 0.95 0.9);
    border-radius: 1lv;
    box-shadow: 0 4lv 8lv hsla(120, 50%, 50%, 0.2);

    &__title {
      font-size: 3lv;
      color: hwb(150 20% 50%);
      margin-bottom: 1.5lv;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 2lv;
    }

    &__label {
      font-size: 1.25lv;
      color: hwb(220 10% 90%);
      text-align: left;
    }

    &__input, &__textarea, &__select {
      padding: 1sv;
      border: 1px solid hwb(200 40% 30%);
      border-radius: 0.5lv;
      font-size: 1.25lv;
      background-color: hwb(240 15% 85%);
      color: hwb(0 0% 0%);
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: hwb(200 30% 10%);
      }
    }

    &__submit {
      padding: 1dv 2dv;
      font-size: 1.5lv;
      font-weight: bold;
      color: white;
      background-color: hwb(300 20% 30%);
      border: none;
      border-radius: 0.5lv;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: hwb(300 10% 20%);
      }
    }
  }
}
