.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    grid-gap: 0;
    min-height: 100vh;
}

header {
    grid-area: header;

}

main {
    grid-area: main;

}

aside {
    grid-area: aside;
}
.aside {
    padding: 2 * $spacing-unit;
    margin: 0 1em;
    background-color: #00131c;

    &__title {
        font-size: 1.5em;
    }
    &__list {
        padding: $spacing-unit;
    }
    &__list__item {
        padding: $spacing-unit;
        font-size: 1.1em;
    }
    &__button {
        @extend %button;
    }
}

footer {
    grid-area: footer;
}

@media (min-width: $breakpoint-md) {
  .grid-container {
      grid-template-areas:
          "header header"
          "main aside"
          "footer footer";
      grid-template-columns: 3fr 1fr;
  }
}

@supports not (display: grid) {
  .grid-container {
      display: flex;
      flex-direction: column;
  }

  main, aside {
      width: 100%;
  }

  @media (min-width: $breakpoint-md) {
      .grid-container {
          flex-flow: column wrap;
      }

      header, footer {
          width: 100%;
      }

      main {
          width: 75%;
      }

      aside {
          width: 25%;
      }
  }
}