@layer layouts {
  .header {
      padding: $spacing-unit;
      color: white;
      text-align: center;
      background: $primary-color;
  
      &__nav__title {
        font-size: 1.5rem !important;
      }  
    }
  }
  