* {
  box-sizing: border-box;
}

.body {
  /* Bloque principal para el cuerpo de la página */
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color;
  background-color: $background;

  @media (max-width: $mqMaxWidth) {
    width: fit-content;
  }
}

.container {
  /* Bloque principal de contenedor */
  max-width: 1200px;
  padding: 2em 4em;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  background-color: $secundary-color;

  @media (max-width: $mqMaxWidth) {
    font-size: 1.7em;
  }
}

.container__btn {
  /* Elemento botón dentro del bloque container */
  padding: 0.5em 0.8em;
  color: $secundary-color;
  text-decoration: none;
  background: $btn-bg;
  border-radius: 5px;
}

.container__btn:hover {
  background: $btn-bg-hover;
}


.header {
  /* Bloque principal para el encabezado */
  background: url(../images/home_abaltzisketa_aralar_1800.webp) no-repeat center;

  @media (max-width: $mqMaxWidth) {
    background: none;
    background-color:#000;
  }
}

.cabecera {
  /* Bloque para la cabecera */
  height: 80px;
}

.cabecera__titulo {
  /* Elemento título dentro del bloque cabecera */
  float: left;
  width: auto;
  padding: 0;
  margin-top: 0.2em;
  margin-left: 1.5em;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1em;
  color: $secundary-color;
}

.cabecera__texto {
  /* Elemento subtítulo dentro del bloque cabecera */
  position: absolute;
  top: 60px;
  text-shadow: 1px 1px 10px #000;
}

.intro {
  /* Bloque principal de sección introductoria */
  width: 80%;
  padding: 0.5em 1em;
  margin: 6em auto 0;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
  color: #FFF;
  background-color: #000;
  opacity: 80%;

  @media (max-width: $mqMaxWidth) {  
      margin: 2em auto 0;
      font-size: 1.7em;
  }

}

.destacados__destacado {
  /* Bloque destacado */
  margin: 3em 0;
}

.footer {
  /* Bloque para el pie de página */
  width: 100%;
  margin-top: 4em;
  color: $secundary-color;
  text-align: center;
  background-color: #000;

  @media (max-width: $mqMaxWidth) {
    padding: 1em;
    font-size:1.3em;
  }
}

.footer__link {
  /* Elemento enlace dentro del bloque footer */
  color: #fff;
}

.footer__link:hover {
  text-decoration: none;
}