<h3 class="text-xl font-semibold text-gray-800">Dirigido a:</h3>
<ul class="list-disc pl-5 mt-4 text-gray-600">
    <li>Desarrolladores</li>
    <li>Responsables TICs</li>
    <li>Analistas de ciberseguridad</li>
    <li>Auditores de seguridad</li>
</ul>
<a href="formulario.html" class="mt-6 inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Haz tu inscripción</a>

<!--
<h3 class="aside__title">Dirigido a:</h3>
<ul class="aside__list">
    <li class="aside__list__item">Desarrolladores</li>
    <li class="aside__list__item">Responsables TICs</li>
    <li class="aside__list__item">Analistas de ciberseguridad</li>
    <li class="aside__list__item">Auditores de seguridad</li>
</ul>
<a class="aside__button" role="button" href="formulario.html">Haz tu inscripción</a>-->